<section class="section flow" ng-controller="FlowCtrl as Flow">
    <h1>This is the flow</h1>
    <p class="lead">Some lead text here.<br> More info coming in a later version.</p>
    <div>
        <div variant-picker="Flow.testData"></div>
    </div>
</section>
