<section class="section flow" ng-controller="FlowCtrl as Flow">
    <h1>Build your bike</h1>
    <div part-section="section.name" part-type="section.partType" parts="section.parts" ng-repeat="section in Flow.partSections">
    </div>
</section>
