<section class="section summary" ng-controller="SummaryCtrl as Summary">
    <ul class="parts-list">
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
        <li class="part">dummy text</li>
    </ul>
</section>
