.preview {
    svg {
        width: 100%;
    }
}

g {
    stroke: black;

    &:hover, &.active {
        > line {
            stroke: red !important;
            stroke-width: 2px;
        }
    }
}

path {
    &:hover, &.active {
        stroke: red;
        stroke-width: 2px;
    }
}
