@blue: blue;
@red: red;
@yellow: yellow;
@green: green;

@colors: 'blue', 'red', 'yellow', 'green';

.do-make-colors(@i) when (@i > 0) {
    @color: extract(@colors, @i);
    @sel: ~'.@{color}';

    @{sel} {
        & {
            fill: @@color;
        }

        g& line {
            stroke: @@color;
        }
    }

    .do-make-colors((@i - 1));
}

.do-make-colors(length(@colors));
