.scroll-push {
    display: none;

    -moz-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;

    @media (min-width: @screen-md-min) { 
        display: block;
    }
}
